<div class="row SearchPadrao">
    <form method="get" action="{{ action }}" enctype="application/x-www-form-urlencoded">
        <div class="form-group col-xs-12 col-sm-4">
            <label class="sr-only" for="{{ filterFieldName }}">Pesquisar Por...</label>
            <select class="form-control fg-line" name="{{ filterFieldName }}">
                {% for field, label in fields %}
                    <option value="{{ field }}"{% if selectedField == field %} selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label class="sr-only" for="{{ filterValueName }}">Escreva a Palavra</label>
            <input class="form-control" type="text" value="{{ selectedValue }}" name="{{ filterValueName }}" placeholder="Escreva a Palavra" />
        </div>
    	<div class="form-group col-xs-12 col-sm-2">
            <button class="btn btn-block btn-success btn-sm btnAutIcon">{{ options.button }}</button>
        </div>
    </form>
</div>