<form method="get" action="{{ action }}" enctype="application/x-www-form-urlencoded">
    <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4">
        <div class="">
            <select class="form-control input-sm" name="{{ filterFieldName }}">
                {% for field, label in fields %}
                    <option value="{{ field }}"{% if selectedField == field %} selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4 ">
        <input class="form-control fg-line input-sm" type="text" value="{{ selectedValue }}" name="{{ filterValueName }}" />
    </div>
    <div class="col-sm-2">
        <button class="btn btn-sm">{{ options.button }}</button>
    </div>
</form>